*{
	padding: 0px; margin:0px; box-sizing: border-box;
}
body{
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-family: Bitter;
	font-weight: 400;
}
/* ======= FONTS CALL IN CSS ======== */
@font-face {
	font-family: Bitter;
	src: url(../fonts/Bitter-Black.ttf);
	font-weight: 800;
}
@font-face {
	font-family: Bitter;
	src: url(../fonts/Bitter-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: Bitter;
	src: url(../fonts/Bitter-Regular.ttf);
	font-weight: 400;
}
/* ======= FONTS CALL IN CSS ======== */
.py-70 {
    padding: 70px  0px;
}
h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.testimonialBg {
    background: url(../images/lvoe-background1.jpg) no-repeat;
    background-position: 100% 100%;
	background-size: cover;
}
p.raised_text {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}
p.price span {
    font-size: 72px;
    font-weight: 700;
    color: #ffb400;
    position: relative;
    padding: 0px  179px  23px;
}
p.price span::after {
    width: 100%;
    height: 20px;
    background: #ffb400;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 10px;
}
.testimonail .button_wraper > a {
    color: #fff;
    text-decoration: none;
    background: #ffb400;
    padding: 14px  77px;
    display: inline-block;
    border-radius: 44px;
    font-size: 24px;
}

@media(max-width:767px){
	h2 {
		font-size: 28px;
	}
	p.price span {
		display: block;
		padding: 0px 0px 12px;
		font-size: 28px;
	}
	p.price span::after {
		height: 6px;
		width: 70%;
		left: 15%;
	}
	.testimonail .button_wraper > a {
		font-size: 15px;
		padding: 11px 37px;
	}
}